/* Ensure proper spacing and responsive layout */
@media (max-width: 1050px) {
    .desktop-menu {
        display: none !important;
    }

    .menu-toggle-button {
        display: block !important;
    }

    .header-title {
        display: none;
    }
}

@media (min-width: 1050px) {
    .menu-toggle-button {
        display: none;
    }
}

/* Ensure Typography components maintain a good margin and padding */
.ant-typography {
    margin-bottom: 8px;
    line-height: 1.5;
}

.custom-menu .ant-menu-item-selected {
    background-color: #ffffff;
    /* Highlight background color */
    color: #ff0000;
    /* Text color for selected item */
}

.ant-menu-item-selected > span {
    color: #ff0000;
    /* Ensure the link text color is different */
}


@media (min-width: 1200px) {
    .content-container {
        padding: 50px 30px;
    }
}
/* Add this to your CSS file */
@media (max-width: 1200px) {
    .content-container {
        padding: 20px 30px;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 15px 20px;
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px 15px;
    }
}